<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DzyImgPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01AB87A61D51B42700F54BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01AB87C21D51B42800F54BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01AB87CD1D51B42800F54BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
